/* Limpieza de codigo para tener todo mas ordenado */

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    background-color: black;
}

/*Fondo negro para Header*/
header {
    background-color: rgb(0, 0, 0);
    height: 80px;
    padding: 0 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;    
    align-items: center;
}



header nav {
    flex-grow: 0.8;
    background-color: rgb(0, 0, 0);}


header nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;}

/*Le estoy dando forma a la barra de navegacion*/

header nav ul li {
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(104, 102, 243, 0.1);
    padding: 5px;
    transition: all 0.7s ease-in;
}
        

header nav ul li:hover {

    color: rgb(61, 0, 0);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    transition: 0.3s;

}
ul li{
    background-color: white;
}
/*Modificamos colores de manera especifica para arreglar problemas visuales*/

ul li a{
    text-decoration: none;
    background-color: white;
}

/*Agregamos los efectos del logo y posicionamos*/

img#Glitch{
    max-width: 200px;
    position: relative;
    top: 48px;
    z-index: 0;

}
ul#Menu_Playlist{
    background-color: white;
    list-style: none;
    position: relative;
    top: -27px;
    margin: 20px;}

h3#TextoCabeza{
    position: relative;
    top: -85px;}


img#Imagen_Ultra{
    position: relative;
    top: -70px;}

div.TeI{
    margin: 0px;
    padding: 0%;
    border: 0px;
    background-color: black;
    color: white;
    position: relative;
    top: 144px;
}

img#Rezz_BG{
    max-height: 1000px;
    filter: blur(6px);
    text-align: center;

}

h4#Rye_Text{
    position: relative;
    top: -900px;
    font-size: 72px;
    font-family: 'Rye', cursive;
    z-index: 10;
    background-color: transparent;
}

h5#Tour{
    position: relative;
    font-size: 72px;
    font-family: 'Bebas Neue', cursive;
    z-index: 10;
    top: -904px;
    background-color: transparent;
}
/* Cambio de color de fondo por la Noticia */

div.TeI2{
    position: relative;
    top: 85px;
    margin: 0px;
    padding: 0%;
    border: 0px;
    background-color: rgba(3, 13, 22, 1);
    color: white
}


h3#TextoCabeza2{
    position: relative;
    top: -29px;
    background-color: transparent;}

h3#TextoCabeza3{
    position: relative;
    top: -700px;
    background-color: transparent;
    text-align: center;
    z-index: 10;}

img#Img_ticket{
    width: 300px;
    height: 100px;
    object-fit: cover;
    border-radius: 70px;
    filter: brightness(0.3);
    
}
h3#TextoCabeza4{
    position: relative;
    top: -68px;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    color: red;
    -webkit-text-stroke: 0.5px rgb(0, 132, 255);
}

a#link_tickets{
    background-color: transparent;
}

.IMG_Mobile img#Rezz{
    display: none;
}
img#mobile{
    display:none;}
    
@media screen and (max-width: 768px) {

    img#Rezz_BG{
        display: none;
    }
    img#mobile{
        display:flex;
        max-width: 725px;
        top: 50px;
        
        
        
    }
    img#Glitch{
        max-width: 200px;
        position: relative;
        top: 48px;
        z-index: 0;
    
    }
    ul#Menu_Playlist{
        background-color: rgb(255, 255, 255);
        list-style: none;
        object-position: center;}


}